{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% load app_filters %}

{% block content %}

<div id="masthead">  
  <div class="container">
      <div class="row">
        <div class="col-md-12">
			<h1 style="text-align:left;">{{ module.name  }}</h1>
        </div>
      </div> 
  </div><!-- /cont -->
</div>

<!-- Begin Body -->
<div class="container">
	<div class="row">
  			<div class="col-md-3" id="leftCol">
              
              	<ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#summary">Module Summary</a></li>
                  <li><a href="#resources">Resources</a></li>
				  {% if student %}
                  <li><a href="#assessment">Assessment</a></li>
				  {% endif %}
                  <li><a href="#accommodation">Accommodation</a></li>
				  <li><a href="#map">Map</a></li>
              	</ul>
              
      		</div>  

      		<div class="col-md-9" id="mainCol">

				<br>

				<div class="col-md-7">
					<h2 id="summary">Module Summary</h2>
					<h3>{{ module.location }}</h3>
					<h4>{{ module.start|date:'M d' }} - {{module.finish|date:'M d Y' }}</h4>
					<hr>
					<p>{{ module.description }}</p>
					<a href="" target="_blank"><i class="fa fa-calendar fa-1.5x"> Module Schedule</i></a>
				</div>
				
				<div class="col-md-5 center">
					<h3 class="center">{{ module.coordinator.title }} {{ module.coordinator.first_name}} {{ module.coordinator.last_name}}</h3>
					<p>(Module Leader)</p>
					{% thumbnail module.coordinator.pic "150x150" crop="center" as im %}
					<a href="/user/profile/academic/{{ module.coordinator.id }}/">
						<img class="profile-pic-lg" src="{{im.url}}" >
					</a>
					{% endthumbnail %}

					{% thumbnail module.coordinator.affiliation.logo "200x200" as im %}
					<img class="partner-logo" src="{{im.url}}">
					{% endthumbnail %}
				<p>
					{% if module.coordinator.url %}
					<a href="{{module.coordinator.url}}" target="_blank"><i class="fa fa-globe fa-3x"></i></a>
					{% endif %}
					{% if module.coordinator.linkedIn %}
					<a href="{{module.coordinator.linkedIn}}" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
					{% endif %}
					{% if module.coordinator.twitter %}
					<a href="{{module.coordinator.twitter}}" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
					{% endif %}
				</p>
				</div>

              	<hr class="col-md-12">

				<div class="col-md-7">
				<h2>Resources</h2>


				{% for element in elements %}
				<h3>{{ element.title }}</h3>
				  
					<ul class="resource-list body-list">
						{% for resource in resources %}
						    {% if resource.element == element %}
							<li>
							{% if resource.upload %}
								<a href="/media/{{resource.upload}}" target="_blank">{{ resource.name }}</a>
							{% else %}
								<a href="{{resource.URL}}" target="_blank">{{ resource.name }}</a>
							{% endif %}
							</li>
							{% endif %}
						{% endfor %}
					</ul>

				{% endfor %}
			</div>

			{% if student %}
			<div class="col-md-5">
			    <h2 id="assessment">Assessment</h2>
				<table class="tg">
				  <tr>
					<th class="tg-031e">Title</th>
					<th class="tg-031e">Deadline</th>
					<th class="tg-031e">Points</th>
					<th class="tg-031e">Submitted?</th>
				  </tr>
				{% for assessment, submission in magic_list %}
				  <tr>
					  <td class="tg-031e">{{ assessment.title }}</td>
					  <td class="tg-031e">{{ assessment.deadline|date:'H:i d M' }}</td>
					  <td class="tg-031e">{{ assessment.points }}</td>
					  <td class="tg-031e">
					  {% if submission %}


                            <a href="/training/resubmission/{{module.id}}/{{assessment.id}}/">
                                <i class="fa fa-check"></i>
                            </a>

					  {% else %}

                            <a class="btn btn-primary page-scroll" style="width: auto;" href="/training/submission/{{ module.id }}/{{ assessment.id }}/">Submit</a>
					 {% endif %}
				      </td>
				  </tr>
				{% endfor %}
				</table>
			</div>
			{% endif %}
              	
      		</div> 
  	</div>
</div>


{% endblock %}

{% block javascript %}
<script>
$('#sidebar').affix({
      offset: {
        top: 245
      }
});

var $body   = $(document.body);
var navHeight = $('.navbar').outerHeight(true) + 10;

$body.scrollspy({
	target: '#leftCol',
	offset: navHeight
});
</script>
{% endblock %}
