{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
<div id="masthead">  
  <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Core Modules</h1>
        </div>
      </div> 
  </div><!-- /cont -->
</div>
    <section id="register" class="dashboard-profile-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
					<div class="row">
						{% for module in modules %}
						<div class="col-lg-4 col-sm-6">
							<div class="training-box">
								<a href="/training/core-level/{{ module.id }}/">
									{% thumbnail module.pic "500x300" crop="center" as im %}
									<img class="module-pic" src="{{im.url}}">
									{% endthumbnail %}
								</a>
								<div class="module-title">
									{{ module.name }}
									</br>
									<a href="https://twitter.com/hashtag/{{ module.tag }}" target="_blank">#{{ module.tag }}</a>

								</div>
								<div class="module-date">
									<strong>{{ module.location }}</strong><br />
									{{ module.start|date:'M d'}} - {{module.finish|date:'d Y' }}
								</div>
							</div>
						</div>
						{% endfor %}
                </div>
            </div>
		</div>
    </section>
{% endblock %}
