/*------HOME---------*/
.logo {
    width: 100%;
}

h2 {
	margin-bottom: 20px
}
h4.cohort {
	margin-bottom: 20px;
}


/*------BUTTONS-------*/
.btn-primary {
	width: 200px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

#sponsors img {
    max-width: 100%;
}

#guest-speakers img {
    max-width: 150px;
	width: 100%;
}

#guest-speakers li {
    display: block;
}

p.justify {
	text-align: justify;
}

/*--------SECTIONS----------*/
.white-section {
    background: #fff;
    padding-top: 25px;
    padding-bottom: 50px;
}

.guest-speakers-programme {
    background: #eee;
    padding-top: 15px;
    padding-bottom: 15px;
}

.thumbnail-container li {
    min-height: 340px;
}

#programme li:nth-child(4+1) {
    clear:left;
}


.h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.intro-section {
    padding-top: 10%;
    min-height: 500px;
	/*background-image: url('/static/img/background_1.jpg');*/
	color:#272727;
}

.blog-section {
    background: #eee;
    padding-top: 25px;
    padding-bottom: 50px;
}

.blog-section-blog {
    background: #fff;
    padding-top: 12%;
    line-height: 1.6;
}

.blog-section-blog div.blog-pic img{
    border: 1px solid #eee;
    margin: 2% 0%;
    max-width: 100%;
	max-height: 400px;
	
    
}

.dashboard-abstract-section {
    text-align: center;
    background-color: #eee;
}

.student-section {
	background: #eee;
    padding-top: 15px;
    text-align:center;
    padding-bottom: 50px;
}

.portfolio-ul {
	margin-left: 20px;
}

.portfolio-ul li {
	margin: 20px;
}

.upload-tools {
	color: red;
}

.upload-tools:hover {
	color: green;
}

label[for="upload-clear_id"] {
	display: none;
}
input[id="upload-clear_id"] {
	display:none;
}
form input#id_upload {
	display: inline-block;
	width:80%;
}

div.supervisor {
	display: inline-block;
	margin: 10px;
}

.articles {
    width: 98%;
    max-width: 600px;
    margin:auto;
    padding: 2%;
    text-align: justify;
    font-size: 15px;
    
}

.profile-pic {
	width: 70%;
	margin-bottom: 10px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

div.profile-block{
	display:table;
}


div.square-box {
	color:white;
	font-size:3em;
    width: 70%;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    overflow: hidden;
	display: inline-block;
    background: #4679BD;
	padding-top: 35%;
	line-height: 0%;
	padding-bottom:35%;
	max-height:100px;
}
@media (min-width: 979px) {
	div.square-block {
		font-size:2em;
	}
}



.profile-pic-lg {
    width: 150px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.profile-pic-sm {
    width: 70px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.programme-section {
    background: #fff;
    padding-top: 25px;
    padding-bottom: 50px;
}

.programme-page {
    background: #fff;
    padding-top: 100px;
    padding-bottom: 50px;
}

.programme-page ol {
    padding-top: 20px;
}
#speakers li.col-sm-3 {
    min-height: 250px;
}

.programme-page li.col-sm-3 {
    min-height: 340px;
}

#committee {
    padding-top: 100px;
}

#committee li.col-sm-3 {
    min-height: 315px;
}
.sponsor-section {
    background: #eee;
    padding-top: 25px;
    padding-bottom: 50px;
}

.register-section {
    background: #fff;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    min-height: 100%;
}

input[type=submit] {
    margin: 2%;
    padding-top: 14px;
    padding-bottom: 14px;
}

.footer-section {
    background: black;
    text-align:center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.list-unstyled {
    padding-top: 20px;
    text-align: center;
    overflow:hidden;
}

ul {
	padding: 0;
}

ul.left {
	padding-top: 0;
	line-height: 0.8em;
	text-align: left;
}


.list-unstyled li {
    padding: 5px;
}

.thumbnail-container {
    padding: 10px;
}

.center {
    text-align: center;
}

/*#intro a.btn.btn-default {
    width: 80%;
    max-width: 300px;
    height: 50px;
    padding-top: 14px;
}*/

/*span.glyphicon-file {
    display: block;
    text-align: center;
    font-size: 4em;
}*/

p.center {
    text-align: center;
}

p.small {
    text-size: 0.6em;
}

#exhibitors a {
    text-decoration: none;
}

#sponsors a {
    text-decoration: none;
}

.exhibitors-section {
    background: #eee;
    padding-top: 25px;
    padding-bottom: 50px;
}

#exhibitors img {
    max-width: 100%;
}

/*----------DASHBOARD-----------*/
 
div.supervisors {
    text-align:center;
}
div.profile-block {
    text-align:center;
    margin-bottom: 20px;
}
div.bio-block {
    margin-bottom: 20px;
}

div.block {
	overflow:hidden;
}

.dashboard-profile-section {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}


.dashboard-project-section {
    background: #eee;
    padding-top: 15px;
    text-align:center;
    padding-bottom: 50px;
}

.dashboard-portfolio-section {
    background: #fff;
    padding-top: 15px;
    text-align:center;
    padding-bottom: 50px;
}

div.portfolio {
	text-align: left;
}

.dashboard-profile-section i.fa {
		margin: 1%;
}

p.bio {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 6px 12px;
}
.dashboard-profile-section p.bio, .dashboard-project-section div.bio {
	max-width:500px;
	text-align:justify;
	margin: 2% auto;
	margin-top: 15px;
	margin-bottom: 25px;
}

img.partner-logo {
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
}
/*---------PROGRAMME---------*/
/*---------Abstracts---------*/

.abstract-section {
    background: #fff;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: justify;
}

.abstract-section div.abstract {
	max-width:800px;
	margin: 2% auto;
}

.abstract-section span.glyphicon-file {
	font-size: 1em;
	text-align: left;
}

/*----------FORMS------------*/

ul.errorlist {
	color: red;
}

.abstract-section span.glyphicon.glyphicon-file {
	font-size: 1em;
	text-align: left;
}
form {
    max-width: 900px;
    margin: auto;
    padding: 2% 2%;
	padding-bottom: 0;
}

form li {
    list-style: none;
    margin: 1%;
}

form label {
    width: 100px;
    font-size: 1.0em;
    text-align: center;
    margin-right: 2px;
}

form input[type=file] {
    display:inline;
}

form input, textarea {
    width: 100%;
	max-width: 350px;
	margin: auto;
}

form label {
	vertical-align: top;
}

label[for="picture-clear_id"] {
	display: none;
}
input[id="picture-clear_id"] {
	display:none;
}

form div.file-input {
	text-align: left;
	display:inline-block;
	width:90%;
	max-width:350px;
	margin:auto;
	margin-top: -4px;
	line-height: 2em;
}
form input#id_picture {
	display: inline-block;
	width:80%;
}

form select {
	width: 90%;
	max-width: 350px;
}

form span{
	display:block;
	font-size: 0.8em;
	line-height:2em;
}
/*------------TABLES-----------*/
.tg  {width:100%; border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{text-align:center;font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{text-align:center;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-4eph{background-color:#f9f9f9}

table {
	margin: 2% auto;
}
table span.glyphicon-file {
	font-size: 2em;
}

span.helptext {
	margin-bottom: 20px;
}

p.share {
	font-size: 2em;
}

.carousel-logo {
	max-width: 450px;
	width: 80%;
}

div.iframe{
	border: 1px solid #eee;
}

iframe {
	width: 100%;
	margin-bottom: 20px;
}
img.dinner-logo {
	margin-bottom: 10px;
	max-width: 200px;
	display: block;
}

div.navbar-collapse.navbar-ex1-collapse.collapse.in {
	max-height: 380px;
}

.navbar-brand {
	padding:0px 15px;
}

.navbar-brand img {
	height:100%;
}

div.brand-image {
	background: url(/static/img/logo_blue_noweb_icon2.jpg) 0 0 no-repeat;
	display: inline-block;
	height: 40px;
	width: 40px;
	margin:0;
}

div.brand-image:hover {
	background: url(/static/img/logo_blue_noweb_icon2.jpg) 0 -40px no-repeat;
}

/* ---------project plot -----------*/
.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

path.line {
	fill: none;
	stroke: steelblue;
	shape-rendering: crispEdges;
    stroke-width: 1px;
}

.chart circle {
	fill-opacity: .7;
	fill: #337ab7;
}

.chart circle:hover{
	fill: red;
	cursor:pointer;
	r: 9;
}

.chart .label{
	font-weight: 400;
	font-size: 1em;
}

hr.score {
	margin: 0;
	border-top: 5px solid #334d64;
}
/* ---------- directory -----------*/
.cohort-section {
    padding-top: 15px;
    text-align:center;
    padding-bottom: 50px;
}

.cohort-section:nth-of-type(even){
	background: #eee;
}

/* ------------ core-level training ----- */

img.module-pic {
	width: 100%;
}

div.training-box {
	padding-bottom: 20px;
}

div.module-title {
	text-align:left;
	background:#a7abab;
	color:#fff;
	padding: 5px;
}

div.module-date {
	text-align:right;
	background:#29455e;
	color:#fff;
	padding:5px;
}


#masthead {
	min-height:100px;
	background-color:#334d64;
  	color:#fff;
	padding-top: 5px;
}

#masthead h1 {
	font-size: 55px;
	line-height: 1;
}

#masthead .well {
	margin-top:13%;
	background-color:#111155;
  	border-color:#000033;
}

@media (min-width: 979px) {
	#masthead {
		min-height: 150px;
		padding-top: 50px;
	}

}

/*----------core-module-------*/
hr {
    color:#334d64;
}
ul.resource-list {
	list-style-type:none;
	text-align:left;
}
h3 {
	text-align:left;
}

body {
	padding-top:50px;
	text-align:justify;
	font-size: 1.6em;
}

h4 {
	font-weight: bold;
}

#masthead {
	min-height:100px;
	background-color:#334d64;
  	color:#fff;
	padding-top: 5px;
	padding-bottom: 5px;
}

#masthead h1 {
	font-size: 40px;
	line-height: 1;
}

#masthead .well {
	margin-top:13%;
	background-color:#111155;
  	border-color:#000033;
}

.icon-bar {
	background-color:#fff;
}

.navbar-bright {
	background-color:#111155;
    color:#fff;
}
  
.navbar-bright a, #masthead a, #masthead .lead {
  	color:#aaaacc;
}

.navbar-bright li > a:hover {
    background-color:#000033;
}

.affix-top,.affix{
	position: static;
}
  #sidebar.affix-top {
  	margin-top:20px;
  }

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }

	#masthead {
		min-height: 150px;
		padding-top: 50px;
	}

}


#sidebar li.active {
  	border:0 #eee solid;
  	border-right-width:4px;
}


ul.body-list li, ol.body-list li {
	margin-left:30px;
	margin-bottom: 20px;
	margin-top:20px;
}

div.grey {
    background-color:#eee;
}
