h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

#sponsors img {
    max-width: 100%;
}

#guest-speakers img {
    max-width: 150px;
}

#guest-speakers li {
    display: block;
}

.guest-speakers-programme {
    background: #eee;
    padding-top: 15px;
    padding-bottom: 15px;
}

.thumbnail-container li {
    min-height: 340px;
}

#programme li:nth-child(4+1) {
    clear:left;
}


.h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.intro-section {
    padding-top: 16%;
    min-height: 500px;
}

.blog-section {
    background: #eee;
    padding-top: 25px;
    padding-bottom: 50px;
}

.blog-section-blog {
    background: #fff;
    padding-top: 12%;
    line-height: 1.6;
}

.blog-section-blog div.blog-pic img{
    border: 1px solid #eee;
    margin: 2% 0%;
    max-width: 100%;
    
}

.articles {
    width: 98%;
    max-width: 600px;
    margin:auto;
    padding: 2%;
    text-align: justify;
    font-size: 15px;
    
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url('../../media/committee_img/mason.png') no-repeat;
                    }

.profile-pic-lg {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url('../../media/committee_img/mason.png') no-repeat;
                    }
.programme-section {
    background: #fff;
    padding-top: 25px;
    padding-bottom: 50px;
}

.programme-page {
    background: #fff;
    padding-top: 100px;
    padding-bottom: 50px;
}

.programme-page ol {
    padding-top: 20px;
}
#speakers li.col-sm-3 {
    min-height: 340px;
}

.programme-page li.col-sm-3 {
    min-height: 340px;
}

#committee {
    padding-top: 100px;
}

#committee li.col-sm-3 {
    min-height: 315px;
}
.sponsor-section {
    background: #eee;
    padding-top: 25px;
    padding-bottom: 50px;
}

.register-section {
    background: #fff;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    min-height: 100%;
}

input[type=submit] {
    margin: 2%;
    padding-top: 14px;
    padding-bottom: 14px;
}

.footer-section {
    background: black;
    text-align:center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.list-unstyled {
    padding-top: 20px;
    text-align: center;
    overflow:hidden;
}

.list-unstyled li {
    padding: 5px;
}

.thumbnail-container {
    padding: 10px;
}

.center {
    text-align: center;
}

.btn-default {
    width: 80%;
    max-width: 300px;
    height: 50px;
    padding-top: 14px;
}

span.glyphicon-file {
    display: block;
    text-align: center;
    font-size: 4em;
}

p.center {
    text-align: center;
}

p.small {
    text-size: 0.6em;
}

#exhibitors a {
    text-decoration: none;
}

#sponsors a {
    text-decoration: none;
}

.exhibitors-section {
    background: #fff;
    padding-top: 25px;
    padding-bottom: 50px;
}

#exhibitors img {
    max-width: 100%;
}

/*----------DASHBOARD-----------*/
 
.dashboard-profile-section {
    background: #fff;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.dashboard-profile-section img {
	max-width: 150px;
}

.dashboard-abstract-section {
    background: #eee;
    padding-top: 15px;
    text-align:center;
    padding-bottom: 50px;
}

.dashboard-profile-section i.fa {
		margin: 1%;
}

.dashboard-profile-section p.bio {
	max-width:500px;
	text-align:justify;
	margin: 2% auto;
	margin-top: 15px;
	margin-bottom: 25px;
}
/*----------PROGRAMME---------*/
/*----------ABSTRACT---------*/

.abstract-section {
    background: #fff;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align:justify;
    padding-bottom: 50px;
}

.abstract-section p.abstract {
	max-width: 800px;
	margin: 2% auto;
}




/*----------FORMS------------*/
form {
    max-width: 900px;
    margin: auto;
    padding: 2% 2%;
	padding-bottom: 0;
}

form li {
    list-style: none;
    margin: 1%;
}

form label {
    width: 100px;
    font-size: 1.0em;
    text-align: center;
    margin-right: 2px;
}

form input[type=file] {
    display:inline;
}

form input {
    width:200px;
}
label[for="picture-clear_id"] {
	display: none;
}
input[id="picture-clear_id"] {
	display:none;
}
/*------------TABLES-----------*/
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-4eph{background-color:#f9f9f9}

table {
	margin: 2% auto;
}
table span.glyphicon-file {
	font-size: 2em;
}
