h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

#sponsors img {
    max-width: 100%;
}

#guest-speakers img {
    max-width: 150px;
}

#guest-speakers li {
    display: block;
}

.guest-speakers-programme {
    background: #eee;
    padding-top: 15px;
    padding-bottom: 15px;
}

.thumbnail-container li {
    min-height: 340px;
}

#programme li:nth-child(4+1) {
    clear:left;
}


.h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.intro-section {
    padding-top: 16%;
    min-height: 500px;
}

.blog-section {
    background: #eee;
    padding-top: 25px;
    padding-bottom: 50px;
}

.blog-section-blog {
    background: #fff;
    padding-top: 12%;
    line-height: 1.6;
}

.blog-section-blog div.blog-pic img{
    border: 1px solid #eee;
    margin: 2% 0%;
    max-width: 100%;
    
}

.articles {
    width: 98%;
    max-width: 600px;
    margin:auto;
    padding: 2%;
    text-align: justify;
    font-size: 15px;
    
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url('../../media/committee_img/mason.png') no-repeat;
                    }

}

img {
    border: 1px solid red;
}

.programme-section {
    background: #fff;
    padding-top: 25px;
    padding-bottom: 50px;
}

.programme-page {
    background: #fff;
    padding-top: 100px;
    padding-bottom: 50px;
}

.programme-page ol {
    padding-top: 20px;
}
#speakers li.col-sm-3 {
    min-height: 340px;
}

.programme-page li.col-sm-3 {
    min-height: 340px;
}

#committee {
    padding-top: 100px;
}

#committee li.col-sm-3 {
    min-height: 315px;
}
.sponsor-section {
    background: #eee;
    padding-top: 25px;
    padding-bottom: 50px;
}

.footer-section {
    background: black;
    text-align:center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.list-unstyled {
    padding-top: 20px;
    text-align: center;
    overflow:hidden;
}

.list-unstyled li {
    padding: 5px;
}

.thumbnail-container {
    padding: 10px;
}

.center {
    text-align: center;
}

.btn-default {
    width: 80%;
    max-width: 300px;
    height: 50px;
    padding-top: 14px;
}

span.glyphicon-file {
    display: block;
    text-align: center;
    font-size: 4em;
}

p.center {
    text-align: center;
}

p.small {
    text-size: 0.6em;
}

#exhibitors a {
    text-decoration: none;
}

#sponsors a {
    text-decoration: none;
}

.exhibitors-section {
    background: #fff;
    padding-top: 25px;
    padding-bottom: 50px;
}

#exhibitors img {
    max-width: 100%;
}
