{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    <section id="register" class="dashboard-profile-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
					<h2>{{profile.first_name}} {{profile.last_name}}</h2>
					{% thumbnail profile.pic "150x150" crop="center" as im %}
					<img class="profile-pic-lg" src="{{im.url}}" name="{{profile.user.first_name}} {{profile.user.last_name}}">
					{% endthumbnail %}
					<h3>{{profile.affiliation}}</h3>
                    {% if researcher %}
                    <h4><a href="">{{ projects.cohort }}</a></h4>
                    {% endif %}
					<p>
						{% if profile.url %}
						<a href="{{profile.url}}" target="_blank"><i class="fa fa-globe fa-3x"></i></a>
						{% endif %}
						{% if profile.linkedIn %}
						<a href="{{profile.linkedIn}}" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
						{% endif %}
						{% if profile.twitter %}
						<a href="{{profile.twitter}}" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
						{% endif %}
					</p>
					{% if profile.bio %}
					<p class="bio">{{profile.bio}}</p>
					{% endif %}
					<div class="col-lg-12 center">
						<a class="btn btn-primary page-scroll" href="">Update Profile</a>
					</div>
				</div>
			</div>
		</div>
	</section>

    {% if researcher %}
    <section id="projects" class="white-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
					<h2>My PhD</h2>
					{% if projects  %}
                    <h3 class="left">{{ projects.title }}</h3>
                    <p class="left">{{ projects.description|linebreaks }}</p>
					{% thumbnail projects.supervisor1.pic "150x150" crop="center" as im %}
					<img class="profile-pic" src="{{im.url}}" name="{{projects.supervisor1.first_name}} {{projects.supervisor1.last_name}}">
                    <p>{{ projects.supervisor1.title}} {{projects.supervisor1.first_name}} {{projects.supervisor1.last_name}}</p>
                    <p>(First Supervisor)</p>
					{% endthumbnail %}
                    {% if projects.supervisor2 %}
					{% thumbnail projects.supervisor2.pic "150x150" crop="center" as im %}
					<img class="profile-pic" src="{{im.url}}" name="{{projects.supervisor2.first_name}} {{projects.supervisor2.last_name}}">
                    <p>{{ projects.supervisor2.title}} {{projects.supervisor2.first_name}} {{projects.supervisor2.last_name}}</p>
                    <p>(Second Supervisor)</p>
					{% endthumbnail %}
                    {% endif %}
                    <p><strong>Start Date: </strong>{{projects.cohort.start}}, <strong>Finish Date: </strong>{{projects.cohort.finish}}</p>
                    {% endif %}
					<div class="col-lg-12 center">
						<a class="btn btn-primary page-scroll" href="">Update Project</a>
					</div>

                </div>
            </div>
		</div>
    </section>

    <section id="assessment" class="white-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
					<h2>My Assessments</h2>
					{% if submissions %}
						<table class="tg">
						  <tr>
							<th class="tg-031e">Tag</th>
							<th class="tg-031e">Title</th>
							<th class="tg-031e">Element</th>
							<th class="tg-031e">Module</th>
							<th class="tg-031e">Points</th>
							<th class="tg-031e">Submitted</th>
							<th class="tg-031e">Feedback</th>
						  </tr>
						{% for submission in submissions %}
						  <tr>
							  <td class="tg-4eph">{{ submission.assessment.tag }}</td>
							  <td class="tg-4eph">{{ submission.assessment.title }}</td>
							  <td class="tg-4eph">{{ submission.assessment.element.tag }}</td>
							  <td class="tg-4eph">{{ submission.assessment.element.module.tag }}</td>
							  <td class="tg-4eph">{{ submission.assessment.points }}</td>
							  <td class="tg-4eph"><a href="/media/{{ submission.file}}" target="_blank">file</a></td>
							  <td class="tg-4eph">{% for item in feedback %}{% if item.submission == submission %}{{ item.feedback }}{% endif %}{% endfor %}</td>
						  </tr>
						{% endfor %}
						</table>		
					{% else %}
					    <p>No assessments submitted<p>
				    {% endif %}
				</div>
			</div>
		</div>
	</section>

    <section id="portfolio" class="white-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
					<h2>My Portfolio</h2>
					
					<!--- Thesis ---!>
                    {% if portfolio.Thesis%}
					<h3>Thesiss</h3>
					<ul>
					   {% for item in portfolio.Thesis %}
					       {% if item.upload %}
						   <li><a href="/media/{{ item.upload|safe }}" target="_blank">{{ item.label }}</a></li>
						   {% elif item.URL %}
						   <li><a href="{{ item.URL}}" target="_blank">{{ item.label }}</a></li>
						   {% else %}
						   <li>{{ item.label }}</li>
						   {% endif %}
					   {% endfor %}
					</ul>
                    {% endif %}
					
					<!--- PAPERS ---!>
                    {% if portfolio.Paper %}
					<h3>Papers</h3>
					<ul>
					   {% for item in portfolio.Paper %}
					       {% if item.upload %}
						   <li><a href="/media/{{ item.upload|safe }}" target="_blank">{{ item.label }}</a></li>
						   {% elif item.URL %}
						   <li><a href="{{ item.URL}}" target="_blank">{{ item.label }}</a></li>
						   {% else %}
						   <li>{{ item.label }}</li>
						   {% endif %}
					   {% endfor %}
					</ul>
                    {% endif %}
					
					<!--- PRESENTATION ---!>
                    {% if portfolio.Presentation %}
					<h3>Presentations</h3>
					<ul>
					   {% for item in portfolio.Presentation %}
					       {% if item.upload %}
						   <li><a href="/media/{{ item.upload|safe }}" target="_blank">{{ item.label }}</a></li>
						   {% elif item.URL %}
						   <li><a href="{{ item.URL}}" target="_blank">{{ item.label }}</a></li>
						   {% else %}
						   <li>{{ item.label }}</li>
						   {% endif %}
					   {% endfor %}
					</ul>
                    {% endif %}

					<!--- POSTERS ---!>
                    {% if portfolio.Poster %}
					<h3>Posters</h3>
					<ul>
					   {% for item in portfolio.Poster %}
					       {% if item.upload %}
						   <li><a href="/media/{{ item.upload|safe }}" target="_blank">{{ item.label }}</a></li>
						   {% elif item.URL %}
						   <li><a href="{{ item.URL}}" target="_blank">{{ item.label }}</a></li>
						   {% else %}
						   <li>{{ item.label }}</li>
						   {% endif %}
					   {% endfor %}
					</ul>
                    {% endif %}


					<div class="col-lg-12 center">
						<a class="btn btn-primary page-scroll" href="">Add Item</a>
					</div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    {% if academic %}
    {% endif %}

{% endblock %}
