<!DOCTYPE html>
{% load thumbnail %}
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	{% block title %}
    <title>CDT-PV</title>
	{% endblock %}

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<!-- font-awesome -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="{% static  'css/scrolling-nav.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'css/modern-business.css' %}" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a class="navbar-brand page-scroll" href="{% url 'home' %}"><img class="brand-logo" src="/static/img/logo_blue_noweb_icon.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
					
					
                    <li>
                        <a class="page-scroll" href="">Projects</a>
                    </li>
					
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Directory<span class="caret"></span></a>
                        <ul class="dropdown-menu">
							<li><a href="{% url 'researchers' %}">Students</a></li>
							<li><a href="{% url 'academics' %}">Academics</a></li>
						</ul>
					</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Training<span class="caret"></span></a>
                        <ul class="dropdown-menu">
							<li><a href="{% url 'handbook' %}">Handbook</a></li>
							<li><a href="{% url 'core-level' %}">Core Modules</a></li>
							<li><a href="">+1 Modules</a></li>
							<li><a href="">Workshops</a></li>
							<li><a href="">Conferences</a></li>
							<li><a href="">Resource Archive</a></li>
						</ul>
					</li>
				</ul>
							
                <ul class="nav navbar-nav navbar-right">
					
		    {% if user.is_authenticated %}
			<li class="dropdown">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>{{user.username}}</strong><span class="caret"></span></a>
			    <ul class="dropdown-menu">
					<li><a href="{% url 'dashboard' %}"><i class="fa fa-user"></i> Dashboard</a></li>
					<li><a href=""><i class="fa fa-check-square-o"></i> Assessment</a></li>
					<li><a href="{% url 'logout' %}"><strong><i class="fa fa-sign-out"></i> Logout</strong></a></li>
			    </ul>
			</li>
	            {% else %}
				<li><a href="{% url 'login' %}"><strong><i class="fa fa-sign-in"></i> Login</strong></a></li>
			    </ul>
			</li>
		    {% endif %}


            </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% block content %}
    {% endblock %}


    <!-- Footer Section -->
    <section id="footer" class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
					<p>&copy Copyright Pixel Corall 2015</p>
					<p>|<a href="/admin/" target="_blank">Admin</a>|</p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Custom JavaScript -->
    <script src="{% static 'js/custom.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/scrolling-nav.js' %}"></script>

	<!-- d3.sj and plotting scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="{% static 'js/plotting.js' %}"></script>

	{% block javascript %}
	{% endblock %}

</body>

</html>
