{% extends "base.html" %}
{% load thumbnail %}
{% load static %}

{% block content %}
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-6 col-xs-6">
                        <img class="logo" src="{% static 'img/logo.png' %}"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
	
	{% if profile %}
    <section id="contributors" class="exhibitors-section">
        <div class="container center">
            <div class="row">
                <div class="col-lg-12">
					<h2 class="center">Contributors</h2>
					{% for profile in profiles %}
					<a href="/user/profile/{{profile.id}}">
					    <div style="min-height: 110px;" class="col-md-2 col-sm-3 col-xs-4">
							{% thumbnail profile.picture "100x100" crop="center" as im %}
							<img class="profile-pic" src="{{im.url}}">
							<p>{{profile.user.first_name}} {{profile.user.last_name}}</p>
							{% endthumbnail %}
						</div>
					</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	{% endif %}
{% endblock %}
