{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}

<div id="masthead">  
  <div class="container">
      <div class="row">
        <div class="col-md-12">
			<h1 style="text-align:left;">Students</h1>
        </div>
      </div> 
  </div><!-- /cont -->
</div>

<!-- Begin Body -->
<div class="container">
	<div class="row">
		<div class="col-md-3" id="leftCol">
		  
			<ul class="nav nav-stacked" id="sidebar">
				{% for cohort in cohorts %}
				<li>
					<a href="#{{ cohort.id }}">{{ cohort.name }}</a>
				</li>
				{% endfor %}
			</ul>
		<hr>
		  
		</div>  

		</br>
		
		<!---PROFILE--->
		<div class="col-md-9 block" id="mainCol">
			{% for cohort in cohorts %}
			<div class="col-md-12 block">
				<h2 id="{{cohort.id}}">{{cohort.name}}</h2>
				<a href="https://twitter.com/hashtag/{{cohort.tag}}" target="_blank"><h4>#{{cohort.tag}}</a></h4>
				</br>
				{% for project in projects %}
				{% if project.cohort == cohort %}
				<a href="/user/profile/researcher/{{project.researcher.id}}/">
					<div class="col-md-3 col-sm-3 col-xs-4 center block">
						{% if project.researcher.pic %}
						{% thumbnail project.researcher.pic "150x150" crop="center" as im %}
						<img class="profile-pic" src="{{im.url}}" name="{{project.researcher.user.first_name}} {{project.researcher.user.last_name}}">
						<p>{{project.researcher.first_name}}
						   </br>
						   {{project.researcher.last_name}}</p>
						{% endthumbnail %}
						{% else %}
						<div class="square-box">
							{{project.researcher.first_name|slice:":1"}}{{project.researcher.last_name|slice:":1"}}
							
						</div>
						<p>{{project.researcher.first_name}}

						   </br>
						   {{project.researcher.last_name}}</p>
						{% endif %}
					</div>
				</a>
				{% endif %}
				{% endfor %}
			</div>
			</br>
			<hr class="col-md-12">
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
<script>
$('#sidebar').affix({
      offset: {
        top: 245
      }
});

var $body   = $(document.body);
var navHeight = $('.navbar').outerHeight(true) + 10;

$body.scrollspy({
	target: '#leftCol',
	offset: navHeight
});
</script>
{% endblock %}
	

